<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add New Blog</title>
    <style>
      /* General Styling */
      body {
        font-family: 'Poppins', sans-serif;
        background: url('/backgrounds/brown-watercolor-leaf-background-aesthetic-autumn-season.jpg');
        background-size:contain;
        background-attachment: fixed;
        color: #333;
        margin: 0;
        padding: 0;
      }

      .container {
        max-width: 80vw;
        margin: 0 auto;
        padding: 40px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        margin-top: 100px;
        text-align: center;
      }

      h1 {
        color: #ae7763;
        font-weight: 200 !important;
        font-size: 4em;
        margin-bottom: 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      .form-label {
        font-size: 1.2em;
        color: #a37971;
      }

      .form-control {
        border-radius: 8px;
        padding: 12px;
        border: 2px solid #c9bbb8;
        margin-bottom: 20px;
        font-size: 1.1em;
      }

      .form-control:focus {
        border-color: #d2a197;
        box-shadow: 0 0 5px #d2a19798(216, 27, 96, 0.5) !important;
        background-color: #fff;
      }

      .form-text {
        font-size: 0.9em;
        color: rgb(93, 89, 89);
        margin-bottom: 10px;
      }

      button {
        background-color: #d2a197;
        border: none;
        color: white;
        font-size: 1.2em;
        padding: 12px 24px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      button:hover {
        background-color: #d2a1979b;
      }

      /* Animation for button hover */
      button:focus {
        outline: none;
        box-shadow: 0 0 5px #a5665a(216, 27, 96, 0.5);
      }
      
    </style>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container mt-3">
      <h1 class="display-1">Add New Blog</h1>
      <form action="/blog" method="POST" enctype="multipart/form-data">
        <%- include('./partials/formFields')%>
      </form>
    </div>

    <%- include('./partials/scripts') %>
  </body>
</html>
